---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro"
import ModEntry from "../components/ModEntry.astro"
import extensions from "../assets/extensions"
import links from "../assets/links"
import { normalizeMods, toModViewModel } from "../utils/mods"

const modItems = normalizeMods(extensions).map((mod) => toModViewModel(mod, links))
const headings = modItems.map((mod) => ({
  depth: 2,
  slug: mod.slug,
  text: mod.name,
}))
---

<StarlightPage
  frontmatter={{
    title: "Extensions Index",
    description:
      "Index of carpet extensions with links to docs, downloads, and source repositories",
  }}
  headings={headings}
>
  <div>
    {modItems.length ? modItems.map((mod) => <ModEntry mod={mod} />) : <p>No mods listed yet.</p>}
  </div>
</StarlightPage>
